body
  font-family: TTFirsNeue-Regular
  *::selection
    background: #FFE9DA
    color: inherit
    
.content
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  background-color: #f3f3f3
  background: url(./img/main-bg.jpg)

  .main-photo
    &_center
      display: none
      @media screen and (max-width: 768px)
        display: block
        width: 100%
        height: 1024px
      @media screen and (max-width: 414px)
        display: block
        width: 414px
        height: 552px

    &_footer
      display: none
      @media screen and (min-width: 1300px)
        display: block
        height: 100vh
        position: sticky
        top: 0
        right: 0
        bottom: 0

  .container
    background-color: #f3f3f3
    background: url(./img/main-bg.jpg)

    width: 100%


    .wrapper
      @media screen and (max-width: 768px)
        padding-right: 32px
        padding-left: 32px
      @media screen and (min-width: 768px)
        padding-right: 56px
        padding-left: 56px
      @media screen and (min-width: 1300px)
        padding-right: 80px
        padding-left: 140px
      header
        display: flex
        justify-content: flex-start
        align-items: center

        position: sticky
        top: 0
        padding-top: 40px
        padding-bottom: 20px 
        background: url(./img/main-bg.jpg)

        img
          width: 64px
          height: 24px
          object-fit: contain
        
        p
          margin: 0
          margin-bottom: 6px
          @media screen and (max-width: 768px)
            width: 135px
            height: 36px
          font-family: TTFirsNeue-Regular
          @media screen and (max-width: 768px)
            font-size: 18px
          @media screen and (min-width: 1300px)
            font-size: 20px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: normal
          text-align: right
          color: #000000
      
      main
        display: flex
        flex-direction: column

        .main-block
          margin-top: 586px - 20px
          margin-bottom: 56px
          h1
            margin: 0
            margin-bottom: 4px
            font-family: TTFirsNeue-Bold
            font-size: 44px
            font-weight: bold
            font-style: normal
            font-stretch: normal
            line-height: normal
            letter-spacing: normal
            color: #000000
            line-height: 1
          h2
            margin: 0
            font-family: TTFirsNeue-Regular
            font-size: 36px
            font-style: normal
            font-stretch: normal
            line-height: normal
            // letter-spacing: -1px
            color: #000000
            line-height: 1.2

            &:last-child
              width: 555px
              height: 176px
              margin-bottom: 32px

        // h1
        //   margin-top: 82px
        //   margin-bottom: 8px
        //   @media screen and (max-width: 768px)
        //     width: 350px
        //     height: 200px
        //   @media screen and (min-width: 768px)
        //     width: 602px
        //     height: 254px
        //   font-family: TTFirsNeue-Medium
        //   @media screen and (max-width: 768px)
        //     font-size: 48px
        //   @media screen and (min-width: 768px)
        //     font-size: 64px
        //   font-weight: 500
        //   font-style: normal
        //   font-stretch: normal
        //   @media screen and (min-width: 768px)
        //     line-height: 0.91
        //     letter-spacing: -0.4px
        //   color: #000000
        
        // p
        //   margin: 0
        //   font-family: TTFirsNeue-Medium
        //   @media screen and (max-width: 768px)
        //     font-size: 18px
        //   @media screen and (min-width: 768px)
        //     font-size: 20px
        //   font-weight: 500
        //   font-style: normal
        //   font-stretch: normal
        //   line-height: normal
        //   letter-spacing: normal
        //   color: #000000
        
        a
          display: flex
          justify-content: center
          align-items: center

          margin-top: 40px
          @media screen and (max-width: 1300px)
            margin-bottom: 56px
          @media screen and (min-width: 1300px)
            margin-bottom: 56px

          @media screen and (max-width: 768px)
            width: 346px
          @media screen and (min-width: 768px)
            width: 280px
          height: 72px
          background-color: #000000
          text-decoration: none

          &:hover
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16)
            transition: all 0.2s ease-in-out
            transform: translate(0px,-4px)
            &:not(:hover)
              transition: all 0.2s ease-out


          p
            font-family: TTFirsNeue-ExtraLight
            font-size: 20px
            font-style: normal
            font-stretch: normal
            line-height: normal
            // letter-spacing: 0.6px
            color: #ffffff
            margin-top: 16px
          
          img
            margin-left: 8px
            margin-top: -6px
      
    footer
      display: flex
      flex-direction: column

      padding-top: 68px
      background-color: #000000

      p, a
        margin: 0

      .block           
        p
          opacity: 0.8
          font-family: TTFirsNeue-Light
          @media screen and (max-width: 768px)
            font-size: 18px
          @media screen and (min-width: 1300px)
            font-size: 18px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: 0.2px
          color: #ffffff
        
        a
          margin-right: 56px
          margin-top: 16px
          margin-bottom: 68px
          text-decoration: none
          display: block

          color: #666666
          opacity: 1
          font-family: TTFirsNeue-Black
          @media screen and (max-width: 768px)
            font-size: 32px
          @media screen and (min-width: 1300px)
            font-size: 32px
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: -0.4px
          text-transform: uppercase

          -webkit-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out
          -moz-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out
          -o-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out
          transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out
          
          &:hover
            color: #ffffff
            opacity: 1
            transform: translate(0px,-4px)
            transition: all 0.2s ease-in-out
            // margin-bottom: 70px
            &:not(:hover)
              transition: all 0.2s ease-out


          &:last-child
            margin-right: 0
        
        .phone-link
          margin-bottom: 0
          a:hover
            padding-bottom: 2px

        
        .social-links
          display: flex
          @media screen and (max-width: 767px)
            flex-direction: column
          
          a
            color: #666666
            opacity: 1
            &:hover
              opacity: 1
              &:first-child
                color: #ef2a82
              &:nth-child(2)
                color: #1c66ff
              &:last-child
                color: #008fd5
      
      .credit
        @media screen and (max-width: 1300px)
          margin-top: 154px
        @media screen and (min-width: 1300px)
          margin-top: 158px
        margin-bottom: 32px
        opacity: 0.32
        font-family: TTFirsNeue-Regular
        font-size: 16px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        color: #e9eaee


      
      