body {
  font-family: TTFirsNeue-Regular;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f3f3f3;
  background: url(./img/main-bg.jpg);
}
.content .main-photo {
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
}
.content .container {
  background-color: #f3f3f3;
  background: url(./img/main-bg.jpg);
  width: 100%;
}
.content .container .wrapper {
  padding: 0 80px 0 140px;
}
.content .container .wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 48px;
  padding-bottom: 20px;
  background: url(./img/main-bg.jpg);
}
.content .container .wrapper header img {
  width: 80px;
  height: 30px;
  object-fit: contain;
}
.content .container .wrapper header p {
  margin: 0;
  margin-bottom: 6px;
  font-family: TTFirsNeue-Regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
.content .container .wrapper main {
  display: flex;
  flex-direction: column;
}
.content .container .wrapper main h1 {
  margin: 82px 0 8px 0;
  width: 602px;
  height: 254px;
  font-family: TTFirsNeue-Medium;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: -0.4px;
  color: #000000;
}
.content .container .wrapper main p {
  margin: 0;
  font-family: TTFirsNeue-Medium;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.content .container .wrapper main a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 180px;
  width: 454px;
  height: 72px;
  background-color: #000000;
  text-decoration: none;
}
.content .container .wrapper main a p {
  font-family: TTFirsNeue-Medium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}
.content .container .wrapper main a img {
  margin-left: 8px;
  margin-top: 2px;
}
.content .container footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: #000000;
}
.content .container footer p, .content .container footer a {
  margin: 0;
}
.content .container footer .block p {
  margin-top: 68px;
  margin-bottom: 20px;
  opacity: 0.8;
  font-family: TTFirsNeue-Regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.content .container footer .block a {
  margin-right: 56px;
  text-decoration: none;
  opacity: 0.4;
  font-family: TTFirsNeue-Bold;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.content .container footer .credit {
  margin-top: 158px;
  margin-bottom: 32px;
  opacity: 0.32;
  font-family: TTFirsNeue-Regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e9eaee;
}

/*# sourceMappingURL=style.css.map */
