body {
  font-family: TTFirsNeue-Regular;
}
body *::selection {
  background: #FFE9DA;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f3f3f3;
  background: url(./img/main-bg.jpg);
}
.content .main-photo_center {
  display: none;
}
@media screen and (max-width: 768px) {
  .content .main-photo_center {
    display: block;
    width: 100%;
    height: 1024px;
  }
}
@media screen and (max-width: 414px) {
  .content .main-photo_center {
    display: block;
    width: 414px;
    height: 552px;
  }
}
.content .main-photo_footer {
  display: none;
}
@media screen and (min-width: 1300px) {
  .content .main-photo_footer {
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.content .container {
  background-color: #f3f3f3;
  background: url(./img/main-bg.jpg);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .content .container .wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 768px) {
  .content .container .wrapper {
    padding-right: 56px;
    padding-left: 56px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container .wrapper {
    padding-right: 80px;
    padding-left: 140px;
  }
}
.content .container .wrapper header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  background: url(./img/main-bg.jpg);
}
.content .container .wrapper header img {
  width: 64px;
  height: 24px;
  object-fit: contain;
}
.content .container .wrapper header p {
  margin: 0;
  margin-bottom: 6px;
  font-family: TTFirsNeue-Regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .content .container .wrapper header p {
    width: 135px;
    height: 36px;
  }
}
@media screen and (max-width: 768px) {
  .content .container .wrapper header p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container .wrapper header p {
    font-size: 20px;
  }
}
.content .container .wrapper main {
  display: flex;
  flex-direction: column;
}
.content .container .wrapper main .main-block {
  margin-top: 566px;
  margin-bottom: 56px;
}
.content .container .wrapper main .main-block h1 {
  margin: 0;
  margin-bottom: 4px;
  font-family: TTFirsNeue-Bold;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  line-height: 1;
}
.content .container .wrapper main .main-block h2 {
  margin: 0;
  font-family: TTFirsNeue-Regular;
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #000000;
  line-height: 1.2;
}
.content .container .wrapper main .main-block h2:last-child {
  width: 555px;
  height: 176px;
  margin-bottom: 32px;
}
.content .container .wrapper main a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 72px;
  background-color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  .content .container .wrapper main a {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container .wrapper main a {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 768px) {
  .content .container .wrapper main a {
    width: 346px;
  }
}
@media screen and (min-width: 768px) {
  .content .container .wrapper main a {
    width: 280px;
  }
}
.content .container .wrapper main a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in-out;
  transform: translate(0px, -4px);
}
.content .container .wrapper main a:hover:not(:hover) {
  transition: all 0.2s ease-out;
}
.content .container .wrapper main a p {
  font-family: TTFirsNeue-ExtraLight;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #ffffff;
  margin-top: 16px;
}
.content .container .wrapper main a img {
  margin-left: 8px;
  margin-top: -6px;
}
.content .container footer {
  display: flex;
  flex-direction: column;
  padding-top: 68px;
  background-color: #000000;
}
.content .container footer p, .content .container footer a {
  margin: 0;
}
.content .container footer .block p {
  opacity: 0.8;
  font-family: TTFirsNeue-Light;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .content .container footer .block p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container footer .block p {
    font-size: 18px;
  }
}
.content .container footer .block a {
  margin-right: 56px;
  margin-top: 16px;
  margin-bottom: 68px;
  text-decoration: none;
  display: block;
  color: #666666;
  opacity: 1;
  font-family: TTFirsNeue-Black;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  -webkit-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out;
  -moz-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out;
  -o-transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out;
  transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out, opacity 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .content .container footer .block a {
    font-size: 32px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container footer .block a {
    font-size: 32px;
  }
}
.content .container footer .block a:hover {
  color: #ffffff;
  opacity: 1;
  transform: translate(0px, -4px);
  transition: all 0.2s ease-in-out;
}
.content .container footer .block a:hover:not(:hover) {
  transition: all 0.2s ease-out;
}
.content .container footer .block a:last-child {
  margin-right: 0;
}
.content .container footer .block .phone-link {
  margin-bottom: 0;
}
.content .container footer .block .phone-link a:hover {
  padding-bottom: 2px;
}
.content .container footer .block .social-links {
  display: flex;
}
@media screen and (max-width: 767px) {
  .content .container footer .block .social-links {
    flex-direction: column;
  }
}
.content .container footer .block .social-links a {
  color: #666666;
  opacity: 1;
}
.content .container footer .block .social-links a:hover {
  opacity: 1;
}
.content .container footer .block .social-links a:hover:first-child {
  color: #ef2a82;
}
.content .container footer .block .social-links a:hover:nth-child(2) {
  color: #1c66ff;
}
.content .container footer .block .social-links a:hover:last-child {
  color: #008fd5;
}
.content .container footer .credit {
  margin-bottom: 32px;
  opacity: 0.32;
  font-family: TTFirsNeue-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e9eaee;
}
@media screen and (max-width: 1300px) {
  .content .container footer .credit {
    margin-top: 154px;
  }
}
@media screen and (min-width: 1300px) {
  .content .container footer .credit {
    margin-top: 158px;
  }
}

/*# sourceMappingURL=style.css.map */
