body
  font-family: TTFirsNeue-Regular
.content
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  background-color: #f3f3f3
  background: url(./img/main-bg.jpg)

  .main-photo
    height: 100vh
    position: sticky
    top: 0
    right: 0
    bottom: 0

  .container
    background-color: #f3f3f3
    background: url(./img/main-bg.jpg)

    width: 100%


    .wrapper
      padding: 0 80px 0 140px
      header
        display: flex
        justify-content: space-between
        align-items: center

        position: sticky
        top: 0
        padding-top: 48px
        padding-bottom: 20px 
        background: url(./img/main-bg.jpg)

        img
          width: 80px
          height: 30px
          object-fit: contain
        
        p
          margin: 0
          margin-bottom: 6px
          font-family: TTFirsNeue-Regular
          font-size: 20px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: normal
          text-align: right
          color: #000000
      
      main
        display: flex
        flex-direction: column

        h1
          margin: 82px 0 8px 0
          width: 602px
          height: 254px
          font-family: TTFirsNeue-Medium
          font-size: 64px
          font-weight: 500
          font-style: normal
          font-stretch: normal
          line-height: 0.91
          letter-spacing: -0.4px
          color: #000000
        
        p
          margin: 0
          font-family: TTFirsNeue-Medium
          font-size: 20px
          font-weight: 500
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: normal
          color: #000000
        
        a
          display: flex
          justify-content: center
          align-items: center

          margin-top: 40px
          margin-bottom: 180px

          width: 454px
          height: 72px
          background-color: #000000
          text-decoration: none

          p
            font-family: TTFirsNeue-Medium
            font-size: 14px
            font-weight: 500
            font-style: normal
            font-stretch: normal
            line-height: normal
            letter-spacing: 0.8px
            color: #ffffff
          
          img
            margin-left: 8px
            margin-top: 2px
      
    footer
      display: flex
      flex-direction: column

      padding-top: 98px - 68px
      background-color: #000000

      p, a
        margin: 0

      .block
        p
          margin-top: 68px
          margin-bottom: 20px

          opacity: 0.8
          font-family: TTFirsNeue-Regular
          font-size: 20px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: normal
          color: #ffffff
        
        a
          margin-right: 56px
          text-decoration: none

          opacity: 0.4
          font-family: TTFirsNeue-Bold
          font-size: 40px
          font-weight: bold
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: -0.4px
          color: #ffffff
      
      .credit
        margin-top: 158px
        margin-bottom: 32px
        opacity: 0.32
        font-family: TTFirsNeue-Regular
        font-size: 20px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        color: #e9eaee


      
      